################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArenaBackend/ArenaAPI/appsettings.Development.json
/ArenaBackend/ArenaMVC/appsettings.Development.json
